.DS_Store
*.gitignore
.vscode/settings.json
.vscode/tasks.json
*.cmd
*.exe
*.psd
*.kopie
*.ino
*.hintrc
/.vscode
core
preproc
sketch
libraries
ld_h
arduino.ar
build.options.json
Spundomat.ino.elf
Spundomat.ino.map
includes.cache
local.eagle.flash.ld
local.eagle.app.v6.common.ld
data/config.txt
data/ablaufplan.txt
data/certs.ar
Info/Spundomat.ino.bin
Info/Spundomat.mklittlefs.bin
Info/Flashen.cmd
Info/esptool.exe
Info/buildFirm.cmd
Info/tabletojson.min.js
Info/spundomat.php
Info/splan.html
Info/config.txt
Info/ablaufplan.txt
Info/steuerplan.txt
Gehäuse/
test/
web/
*.old
*.hcpp
*.hold
