.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.DS_Store
.gitattributes
.gitignore
999_HTTPUpdate.ino
data/config.json
data/certs.ar
build/core
build/preproc
build/sketch
build/libraries
build/arduino.ar
build/build.options.json
build/Spundomat.ino.elf
build/Spundomat.ino.map
build/includes.cache
build/local.eagle.app.v6.common.ld
Info/Flashen-Herbert.cmd
Info/Flashen-Denis.cmd
Info/Spundomat.ino.bin
Info/Spundomat.spiffs.bin
Info/esptool.exe
