@font-face {
  font-family: 'spundomatfont';
  src:  url('./spundomatfont.eot?v7u1py');
    src:  url('./spundomatfont.eot?v7u1py#iefix') format('embedded-opentype'),
    url('./spundomatfont.ttf?v7u1py') format('truetype');
      
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'spundomatfont' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-plus:before {
  content: "\f067";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-download:before {
  content: "\f019";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-database:before {
  content: "\f1c0";
}
